[submodule "deps/dx9sdk"]
	path = deps/dx9sdk
	url = https://github.com/Open-KO/microsoft-directx-sdk
	shallow = true
[submodule "assets/Client"]
	path = assets/Client
	url = https://github.com/Open-KO/ko-client-assets
	branch = openko-1298
	shallow = true
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
	branch = master
	shallow = true
[submodule "deps/libjpeg-turbo"]
	path = deps/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
	branch = main
	shallow = true
[submodule "deps/db-models"]
	path = deps/db-models
	url = https://github.com/Open-KO/OpenKO-db-models
	branch = main
	shallow = true
[submodule "deps/nanodbc"]
	path = deps/nanodbc
	url = https://github.com/Open-KO/nanodbc
	branch = OpenKO
	shallow = true
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/Open-KO/spdlog
	branch = v1.x
	shallow = true
[submodule "deps/mpg123"]
	path = deps/mpg123
	url = https://github.com/Open-KO/mpg123
	shallow = true
[submodule "deps/djb2"]
	path = deps/djb2
	url = https://github.com/Open-KO/djb2
	shallow = true
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
	branch = asio-1-36-0
	shallow = true
[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/Open-KO/OpenKO-boost
	shallow = true
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/p-ranav/argparse
	shallow = true
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
	shallow = true
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/Open-KO/openal-soft
	shallow = true
