# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: "Build all (CMake)"

on:
  push:
    branches:
    - master

    # This specifically builds when anything relating to a build changes.
    # Everything else can be ignored.
    paths:
      - '.github/workflows/build_cmake_all.yml'
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.hpp'
      - '**/*.inl'

  pull_request:
    branches:
    - master

    # This specifically builds when anything relating to a build changes.
    # Everything else can be ignored.
    paths:
      - '.github/workflows/build_cmake_all.yml'
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.hpp'
      - '**/*.inl'

  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref || github.run_id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CLANG_LATEST_VERSION: 20

jobs:
  build_windows:
    runs-on: windows-latest

    strategy:
      matrix:
        BUILD_CONFIGURATION: [Debug, Release]
        BUILD_PLATFORM: [Win32, x64]

    name: "${{ matrix.BUILD_CONFIGURATION }} - ${{ matrix.BUILD_PLATFORM }} (Windows)"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'false'

    - uses: ilammy/msvc-dev-cmd@v1

    - uses: lukka/get-cmake@latest

    - name: Configure CMake
      shell: pwsh
      run: |
        cmake -S . `
          -B build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }} `
          -G "Ninja" `
          -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_CONFIGURATION }} `
          -DOPENKO_FETCH_CLIENT_ASSETS=FALSE

    - name: Build all
      shell: pwsh
      run: |
        cmake `
          --build build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }} `
          --config ${{ matrix.BUILD_CONFIGURATION }} `
          --parallel

    - name: Run tests
      shell: pwsh
      working-directory: build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }}
      run: |
        ctest -C "${{ matrix.BUILD_CONFIGURATION }}" --verbose

  build_linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        BUILD_CONFIGURATION: [Debug, Release]
        COMPILER: [gcc, clang, clang-latest]

    name: "${{ matrix.BUILD_CONFIGURATION }} - ${{ matrix.COMPILER }} (Linux - Ubuntu)"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'false'

      - name: Install unixODBC
        run: sudo apt-get install unixodbc-dev -y

      - uses: lukka/get-cmake@latest

      - name: Setup compiler
        run: |
          if [ "${{ matrix.COMPILER }}" = "gcc" ]; then
            export CC=gcc
            export CXX=g++
          elif [ "${{ matrix.COMPILER }}" = "clang" ]; then
            export CC=clang
            export CXX=clang++
          else
            wget https://apt.llvm.org/llvm.sh
            chmod +x llvm.sh
            sudo ./llvm.sh ${{ env.CLANG_LATEST_VERSION }}
            sudo apt-get update          
            export CC=clang-${{ env.CLANG_LATEST_VERSION }}
            export CXX=clang++-${{ env.CLANG_LATEST_VERSION }}
          fi
          echo "CC=$CC" >> $GITHUB_ENV
          echo "CXX=$CXX" >> $GITHUB_ENV

      - name: Configure CMake
        run: |
          cmake -S . \
            -B build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            -G "Ninja" \
            -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_CONFIGURATION }} \
            -DOPENKO_FETCH_CLIENT_ASSETS=FALSE

      - name: Build all
        run: |
          cmake \
            --build build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            --config ${{ matrix.BUILD_CONFIGURATION }} \
            --parallel

      - name: Run tests
        shell: bash
        working-directory: build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }}
        run: |
          ctest -C "${{ matrix.BUILD_CONFIGURATION }}" --verbose

  build_macos:
    runs-on: macos-latest

    strategy:
      matrix:
        BUILD_CONFIGURATION: [Debug, Release]
        COMPILER: [XCode]

    name: "${{ matrix.BUILD_CONFIGURATION }} - ${{ matrix.COMPILER }} (MacOS)"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'false'

      - name: Install unixODBC
        run: brew install unixodbc

      - uses: lukka/get-cmake@latest

      - name: Setup compiler
        run: |
          export CC=clang
          export CXX=clang++

      - name: Configure CMake
        run: |
          cmake -S . \
            -B build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            -G "Ninja" \
            -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_CONFIGURATION }} \
            -DOPENKO_FETCH_CLIENT_ASSETS=FALSE

      - name: Build all
        run: |
          cmake \
            --build build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            --config ${{ matrix.BUILD_CONFIGURATION }} \
            --parallel

      - name: Run tests
        shell: bash
        working-directory: build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }}
        run: |
          ctest -C "${{ matrix.BUILD_CONFIGURATION }}" --verbose
